<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Редактировать профиль", "Edit", "Profile")</li>

    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Выйти", "LogOff", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
</ul>
