<ul class="nav navbar-nav navbar-right">
    @if (Context.User.IsInRole("Admin") || Context.User.IsInRole("Moderator"))
    {
        <li>@Html.ActionLink("Администрирование", "Index", "Admin")</li>
    }
    <li>@Html.ActionLink("Редактировать профиль", "Edit")</li>

    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Выйти", "LogOff", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
</ul>
