
@{
    ViewBag.Title = "У вас еще нет профиля";
}

<h2>У вас еще нет профиля.</h2>
<h2>&nbsp;</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            Создайте свой профиль, это поможет другим учасникам найти Вас.
        </div>
        <div class="col-md-12">
            @Html.ActionLink("Редактировать профиль", "Edit", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

